.avatar {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: 200% 0;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(221, 221, 221)
}