
<ng-container *ngIf="print === false">
    <div class="header">
        <app-avatar></app-avatar>
    </div>
    <div class="page">
        <ng-template-outlet [ngTemplateOutlet]="content"></ng-template-outlet>
    </div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d196867.3015268487!2d16.708869652048342!3d48.140415480673916!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476cf54c0166ff69%3A0xd75d7ff5610c6bd!2s2405!5e0!3m2!1sde!2sat!4v1697656743310!5m2!1sde!2sat" width="100%" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
</ng-container>

<ng-template-outlet *ngIf="print === true" [ngTemplateOutlet]="content"></ng-template-outlet>

<ng-template #content>
    <div class="card-container">
        <mat-card style="flex: 0 1 50%;">
            <mat-card-content>
                <app-info-list [model]="infos.slice(0, 4)"></app-info-list>
            </mat-card-content>
        </mat-card>
        <mat-card style="flex: 0 1 50%">
            <mat-card-content>
                <app-info-list [model]="infos.slice(5)"></app-info-list>
            </mat-card-content>
        </mat-card>
    </div>
</ng-template>