<ng-container *ngIf="contentOnly === false">

    <div class="header">
        <img src="assets/mewald.jpg" class="avatar">
        <h1 class="title">Mathias Ewald</h1>
        <span class="subtitle">Platform Adventurer</span>
    </div>

    <div class="page">
        <ng-template-outlet *ngIf="contentOnly === false" [ngTemplateOutlet]="content"></ng-template-outlet>
    </div>

</ng-container>

<ng-template-outlet *ngIf="contentOnly === true" [ngTemplateOutlet]="content"></ng-template-outlet>

<ng-template #content>
    <div class="card-container">
        <mat-card style="flex: 0 1 50%">
            <mat-card-content>
                <app-info-list [model]="infos.slice(0, 4)"></app-info-list>
            </mat-card-content>
        </mat-card>
        <mat-card style="flex: 0 1 50%">
            <mat-card-content>
                <app-info-list [model]="infos.slice(5)"></app-info-list>
            </mat-card-content>
        </mat-card>
    </div>
</ng-template>