<div class="timeline">
    <div *ngFor="let item of value" class="timeline-event">
        <div class="timeline-point-track-container">
            <div class="timeline-point" [class.track-point-highlight]="item.past"></div>            
            <div class="timeline-track"></div>
        </div>
        <div class="timeline-content" [class.timeline-content-highlight]="item.past">

            <div style="display: flex; flex-direction: row; align-items: stretch;">
                <div class="icon-container" *ngIf="item.icon">
                    <div class="icon" [style.background-image]="'url(' + item.icon + ')'" ></div>
                </div>
                <div style="display: flex; flex-direction: column; align-items: stretch;">
                    <span class="timeline-title">{{ item.title }}</span>
                    <span class="timeline-subtitle">{{ item.subtitle }}</span>
                    <span class="timeline-date">{{ item.date }}</span>
                </div>            
            </div>
            <span class="timeline-text">{{ item.content }}</span>
        </div>
    </div>
</div>