<div class="timeline">
    <div *ngFor="let item of value" class="timeline-event">
        <div class="timeline-point-track-container">
            <div class="timeline-point" [class.track-point-highlight]="item.past"></div>            
            <div class="timeline-track"></div>
        </div>
        <div class="timeline-content" [class.timeline-content-highlight]="item.past">
            <div style="display: flex; flex-direction: column; align-items: stretch;">
                <div style="display: flex; flex-direction: row; align-items: center; gap: 10px;">
                    <span class="timeline-title">{{ item.title }}</span>
                    <span>-</span>
                    <span class="timeline-subtitle">{{ item.subtitle }}</span>
                </div>
                <span class="timeline-date">{{ item.date }}</span>
            </div>
            <span class="timeline-text">{{ item.content }}</span>
        </div>
    </div>
</div>