<div id="content-section-0" class="container">

    <div class="header" style="gap: 40px;">
        <app-avatar></app-avatar>
        <button mat-flat-button color="accent" (click)="download()">Get PDF</button>
    </div>

    <div class="page">
        <app-about [print]="true"></app-about>
    </div>

</div>

<div id="content-section-1">
    <div class="banner">
        <h1>Certificates</h1>
    </div>
    <div class="page">
        <app-certs [print]="true"></app-certs>
    </div>

    <div class="banner">
        <h1>Experience</h1>
    </div>
    <div class="page">
        <app-xp [print]="true"></app-xp>
    </div>
</div>

<div id="content-section-2">
    <div class="banner">
        <h1>Skills</h1>
    </div>
    <div class="page">
        <app-skills [print]="true"></app-skills>
    </div>

    <div class="banner">
        <h1>Education</h1>
    </div>
    <div class="page">
        <app-edu [print]="true"></app-edu>
    </div>
</div>