<div id="content-section-0">

    <div class="header">
        <img src="assets/mewald.jpg" class="avatar">
        <h1 class="title">Mathias Ewald</h1>
        <span class="subtitle">Platform Adventurer</span>
        <div style="height: 60px;"></div>
        <button mat-flat-button [style.visibility]="printMode === true ? 'hidden' : ''" color="accent" (click)="download()">Download PDF</button>
    </div>

    <div class="section">
        <div class="page">
            <app-about [contentOnly]="true"></app-about>
        </div>
    </div>

    <div class="section">
        <div class="page">
            <h1>Certicates</h1>
            <app-certs [contentOnly]="true"></app-certs>
        </div>
    </div>

</div>

<div id="content-section-1">

    <div class="section">
        <div class="page">
            <h1>Experience</h1>
            <app-xp [contentOnly]="true"></app-xp>
        </div>
    </div>

</div>

<div id="content-section-2">
    <div class="section">
        <div class="page">
            <h1>Skills</h1>
            <app-skills [contentOnly]="true"></app-skills>
        </div>
    </div>


    <div class="section">
        <div class="page">
            <h1>Education</h1>
            <app-edu [contentOnly]="true"></app-edu>
        </div>
    </div>
</div>