:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.avatar {
    width: 250px;
    height: 250px;
    object-fit: fill;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(221, 221, 221)
}


.section {
    padding: 40px 0 40px 0;
}

.page {
    padding-top: 0;
}
h1 {
    margin-top: 0;
}


.section:nth-child(2n) {
    // background-color: rgb(245, 245, 245);
}

.banner {
    height: 100px;
    background-color: #162577;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0 40px 0;
}

h1 {
    text-align: center;
    margin-bottom: 0px;
    color: white;
}