:host {
    gap: 40px;
}

.avatar {
    width: 250px;
    height: 250px;
    object-fit: fill;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(221, 221, 221)
}


.section {
    padding: 40px 0 40px 0;
}

.page {
    padding-top: 0;

    > h1 {
        margin-top: 0;
    }
}


.section:nth-child(2n) {
    // background-color: rgb(245, 245, 245);
}

h1 {
    text-align: center;
}