<ng-container *ngIf="print === false">

    <div class="header" *ngIf="print === false">
        <mat-icon style="font-size: 400%;" [inline]="true">workspace_premium</mat-icon>
        <h1 class="title">Certificates</h1>

        <blockquote style="width: 60%; max-width: 600px; color: rgb(156, 156, 156); text-align: center;">
            Certifications are not just badges of honor; they are a testament to one's dedication to mastering their craft and a readiness to deliver excellence.
        </blockquote>

    </div>

    <div class="page">
        <ng-template-outlet *ngIf="print === false" [ngTemplateOutlet]="content"></ng-template-outlet>
    </div>

</ng-container>

<ng-template-outlet *ngIf="print === true" [ngTemplateOutlet]="content"></ng-template-outlet>

<ng-template #content>
    <div class="container">

        <mat-card *ngFor="let cert of model">
            <mat-card-header>
                <div mat-card-avatar><mat-icon style="font-size: 48px; height: 48px; width: 48px;">workspace_premium</mat-icon></div>
                <mat-card-title class="title">{{ cert.name }}</mat-card-title>
                <mat-card-subtitle class="subtitle">
                    <span *ngIf="cert.short">{{cert.short}} - </span>{{ cert.issuer }}
                </mat-card-subtitle>
              </mat-card-header>
            <mat-card-content style="height: 100%;">

            </mat-card-content>
            <mat-card-actions *ngIf="print === false && cert.link != null">
                <a mat-flat-button [href]="cert.link" target="_blank">
                    <mat-icon>open_in_new</mat-icon>View Online
                </a>
            </mat-card-actions>
        </mat-card>
    
    </div>
</ng-template>