<mat-toolbar color="primary" class="toolbar">
  <div class="page toolbar-container">
    <ng-container *ngFor="let button of toolbarButtons">
      <button mat-flat-button color="primary"
        [routerLink]="button.link"
        routerLinkActive="toolbar-button-selected"
        class="toolbar-button"
        [class.toolbar-button-selected]="selectedButton == button">
        <mat-icon>{{ button.icon }}</mat-icon>
        <span>{{ button.text }}</span>
      </button>
    </ng-container>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
