<ng-container *ngFor="let info of model; let last = last;">
  <div class="container" [class.actionable]="info.action != null">
    <div class="image-container">
      <mat-icon class="icon">{{ info.icon }}</mat-icon>
    </div>
    <div class="content-container">
      <span class="title">{{ info.value }}</span>
      <span class="subtitle">{{ info.name }}</span>
    </div>
    <div *ngIf="info.action != null" class="link-container">

      <a *ngIf="info.action.type === 'router'" mat-icon-button [routerLink]="info.action.value">
        <mat-icon>link</mat-icon>
      </a>
  
      <a *ngIf="info.action.type === 'href'" mat-icon-button [href]="info.action.value" target="_blank">
        <mat-icon>open_in_new</mat-icon>
      </a>

      <a *ngIf="info.action.type === 'mailto'" mat-icon-button [href]="info.action.value" target="_blank">
        <mat-icon>mail_outlined</mat-icon>
      </a>

      <a *ngIf="info.action.type === 'tel'" mat-icon-button [href]="'tel:' + info.action.value" target="_blank">
        <mat-icon>call</mat-icon>
      </a>

      <a *ngIf="info.action.type === 'clipboard'" mat-icon-button [cdkCopyToClipboard]="info.action.value">
        <mat-icon>content_copy</mat-icon>
      </a>

      <a *ngIf="info.action.type === 'googlemaps'" mat-icon-button [href]="info.action.value" target="_blank">
        <mat-icon>pin_drop</mat-icon>
      </a>

    </div>
  </div>
  <mat-divider *ngIf="last === false"></mat-divider>
</ng-container>