<ng-container *ngIf="contentOnly === false">
    <div class="header" *ngIf="contentOnly === false">
        <mat-icon style="font-size: 400%;" [inline]="true">touch_app</mat-icon>
        <h1 class="title">Experience</h1>

        <blockquote style="width: 60%; max-width: 600px; color: rgb(156, 156, 156); text-align: center;">
            Professional experience is the lens through which theory is transformed into practical wisdom.
        </blockquote>

    </div>
    <div class="page">
        <ng-template-outlet *ngIf="contentOnly === false" [ngTemplateOutlet]="content"></ng-template-outlet>
    </div>
</ng-container>


<ng-template-outlet *ngIf="contentOnly === true" [ngTemplateOutlet]="content"></ng-template-outlet>

<ng-template #content>
    Experience
</ng-template>