<ng-container *ngIf="print === false">
    <div class="header" *ngIf="print === false">
        <mat-icon style="font-size: 400%;" [inline]="true">school</mat-icon>
        <h1 class="title">Education</h1>

        <blockquote style="width: 60%; max-width: 600px; color: rgb(156, 156, 156); text-align: center;">
            Education is the foundation upon which we build our future, but it is the application of what we learn that truly makes a difference.
        </blockquote>

    </div>

    <div class="page">
        <ng-template-outlet *ngIf="print === false" [ngTemplateOutlet]="content"></ng-template-outlet>
    </div>
</ng-container>

<ng-template-outlet *ngIf="print === true" [ngTemplateOutlet]="content"></ng-template-outlet>


<ng-template #content>
    <div style="display: flex; flex-direction: row; justify-content: center;">
        <app-timeline [style.max-width]="print === true ? '100%' : '1200px'" [value]="timelineItems"></app-timeline>
    </div>
</ng-template>